[user]
  username = Jashnok
	name = Joshua Redmann
	email = joshua.redmann@gmail.com
[core]
  editor = vim
  excludesfile = ~/.dotfiles/.gitignore
[web]
	browser = google-chrome
[color]
	ui = true
[github]
	user = jashnok
	token = token
[alias]
	staged = diff --cached
